section#menu
	.content
		nav
			a(href='./home.html') 首页
			a(href='./usage.html') 使用说明
			a(href='./document.html') 语言特性
			a(href='./reference.html') 函数手册
			a(href='./changelog.html') 更新日志
			a(href='https://github.com/cloudhead/less.js', target='_blank') Github(源)
			a(href='https://github.com/feichang/lesscss.net', target='_blank') Github(中文)
			a(href='http://less.cnodejs.net/', target='_blank', target='_blank') 工具汇总
			a(href='http://veryless.org/', target='_blank') VeryLess
