section#sidebar
	div.sideTitle 作者简介
	div#intro.sideContent
		p.avatar
			img(src="http://tp4.sinaimg.cn/2160639311/180/5633952458/1")
		p
			| <strong>TooBug</strong>，前端工程师，目前就职于<a href="http://cdc.tencent.com" target="_blank">腾讯CDC</a>。关注体验设计，关注大前端生态圈。
		p
			a(href="http://weibo.com/toooobug",target="_blank")
				img(src="http://www.sinaimg.cn/blog/developer/wiki/32x32.png")
			a(href="http://t.qq.com/TooBug",target="_blank")
				img(src="http://mat1.gtimg.com/app/opent/images/wiki/resource/weiboicon32.png")
			a(href="https://github.com/TooooBug",target="_blank")
				img(src="http://cdn-img.easyicon.cn/png/10981/1098194.gif")